{%extends 'aggregator/base.html'%}
{%block content%}
  {% comment %} <ol> {% endcomment %}
    <div class="row">
      <form class="col-3">
        <div class="sticky">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Сортировать</label>
            <div class="input-group">
              <select class="form-select">
                <option value="1">По названию</option>
                <option value="2">По стоимости</option>
                <option value="3">По сроку обучения</option>
              </select>
              <select class="form-select">
                <option value="1">По возрастанию</option>
                <option value="2">По убыванию</option>
              </select>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput12" class="form-label">Цена</label>
            <div class="input-group">
              <input type="number" class="form-control" id="exampleFormControlInput2" placeholder="От, ₽">
              <input type="number" class="form-control" id="exampleFormControlInput2" placeholder="До, ₽">
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput3" class="form-label">Продолжительность обучения</label>
            <div class="input-group">
              <input type="number" class="form-control" id="exampleFormControlInput3" placeholder="От, мес.">
              <input type="number" class="form-control" id="exampleFormControlInput3" placeholder="До, мес.">
            </div>
          </div>
          <button type="submit" class="btn btn-success">Применить</button>
          <button type="submit" class="btn btn-danger">Сбросить</button>
        </div>
      </form>
      <div class="col-9">
        {% if latest_courses_list %}
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for course in latest_courses_list %}
            <div class="col">
              <div class="card h-100" style="width: 18rem; ">
                <img src="{{course.get_course_img_url}}" class="card-img-top" alt="Логотип школы">
                <div class="card-body">
                  <h5 class="card-title">{{course.course_name}}<br></h5>
                  <h5 class="card-title">{{course.price}} ₽<br></h5>
                  {% if course.training_period > 10 and course.training_period < 20 or course.training_period > 4 and course.training_period < 10 or course.training_period|get_digit:1 == 0%}
                    <p class="card-text">{{course.training_period}} месяцев</p>
                  {% elif course.training_period|get_digit:1 == 1 %}
                    <p class="card-text">{{course.training_period}} месяц</p>
                  {% else %}
                    <p class="card-text">{{course.training_period}} месяца</p>
                  {% endif %}
                  <a href='{{course.link}}' class="btn btn-primary">Перейти на сайт</a>
                </div>
              </div>
            </div>
          {% comment %} <p>
            <li>
              {{course.owner}}<br>
              {{course.course_name}}<br>
              {{course.price}} ₽<br>
              {{course.final_rating}}<br>
              <a href='{{course.link}}'>{{course.link}}</a><br>
              {{course.training_period}} месяцев<br>
            </li>
          </p> {% endcomment %}
        {% endfor %}
      </div>
      {% else %}
      <p>No courses are available.</p>
      {% endif %}
    </div>
  </div>
  {% comment %} </ol> {% endcomment %}
{%endblock%}